.App {
  text-align: center;
}

body {
  font-family: "Segoe UI";
}

.black-nav {
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  box-sizing: border-box;
}

.lists {
  margin-top: 30px;
  text-align: left;
  padding-left: 10px;
  padding-right: 40px;
}

.button {
  position: relative;
}

.modal {
  text-align: center;
  align-self: center;
  margin-top: 20px;
  padding: 20px;
  background: lightcoral;
}
